<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gesti贸n de avisos</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <script src="../js/ScriptTransacciones.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="assets/css/login_register.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-blueObsc">
        <div class="container-fluid">
            <a class="navbar-brand" style="color: white;" href="/">LOBO CONNECT</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuDesplegable" aria-controls="menuDesplegable" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
          </button>
            <div class="collapse navbar-collapse" id="menuDesplegable">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link btn-outline-primary" aria-current="page" href="#">Avisos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-outline-primary" href="#">Historial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-outline-primary" href="#">Notificaciones</a>
                    </li>

                </ul>
                <div class="action">
                    <div class="profile" onclick="menuToggle();">
                        <img src="assets/img/aviso2.jpg" alt="">
                    </div>
                    <div class="menu">
                        <h3>Manito</h3> <span>asdas</span>
                        <ul>
                            <li><a href="#"><i class="fas fa-user"></i></a></li>
                            <li><a href="#"><i class="fas fa-user"></i></a></li>
                            <li><a href="#"><i class="fas fa-user"></i></a></li>
                            <li><a href="#"><i class="fas fa-user"></i></a></li>

                        </ul>


                    </div>
                </div>
                <script type="text/javascript" src="assets/js/showProfil.js"></script>

            </div>
        </div>
    </nav>

    <header class="text-center" style="background-color:rgb(20, 43, 76); color: white;">
        <h1 class="title p-2">Gesti贸n de avisos</h1>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-12 mb-1">
                <div class="card mt-3 ">
                    <div class="card-header text-white h3 text-center" style="background-color: rgba(64, 171, 53);">
                        Capturar
                    </div>
                    <div class="card-body ">
                        <div class="card-capturar">
                            <!-- FORMULARIO CAPTURAR ------------------------------------------------------------>
                            <form id="enviarDatos">
                                <div class="input-div one">
                                    <div class="i">
                                        <i class="fas fa-bell"></i>
                                    </div>
                                    <div class="div">
                                        <h5>Titulo</h5>
                                        <input type="text" class="input">
                                    </div>
                                </div>
                                <div class="input-div one">
                                    <div class="i">
                                        <i class="fas fa-pen"></i>
                                    </div>
                                    <div class="div">
                                        <h5>Descripci贸n</h5>
                                        <input type="text" class="input">
                                    </div>
                                </div>

                                <div class="input-div one">
                                    <div class="i">
                                        <i class="fas fa-camera"></i>
                                    </div>
                                    <div class="div">
                                        <h5>Imagen</h5>
                                        <input type="text" class="input">
                                    </div>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                    <label class="form-check-label" for="exampleRadios1">
                                                <h6 style="color: #333;">Importante</h6>
                                            </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                    <label class="form-check-label" for="exampleRadios2">
                                                <h6 style="color: #333;">De interes</h6>
                                            </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option3">
                                    <label class="form-check-label" for="exampleRadios3">
                                                    <h6 style="color: #333;">Temporal</h6>
                                                </label>
                                </div>

                                <div class="d-grid gap-2">
                                    <input type="submit" class="btn btn-outline-primary btn-lg" value="Guardar">

                                </div>

                            </form>
                            <!-- FORMULARIO CAPTURAR ------------------------------------------------------------>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-9">
                <div class="card mt-3">
                    <div class="card-header text-white h3 text-center" style="background-color: rgba(64, 171, 53);">
                        Publicados
                    </div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Imagen</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Descripci贸n</th>
                                    <th scope="col">Categoria</th>
                                    <th colspan="2" scope="col">Editar/Borrar</th>
                                </tr>
                            </thead>
                            <tbody id="productos">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
<script type="text/javascript" src="assets/js/main.js"></script>
<script type="text/javascript" src="assets/js/size_searchnav.js"></script>

</html>