<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="assets/css/login_register.css">
    <title>Document</title>
</head>

<body>
    <div class="action">
        <div class="profile" onclick="menuToggle();">
            <img src="assets/img/aviso2.jpg" alt="">
        </div>
        <div class="menu">
            <h3>Manito</h3> <span>asdas</span>
            <ul>
                <li><a href="#"><i class="fas fa-user"></i></a></li>
                <li><a href="#"><i class="fas fa-user"></i></a></li>
                <li><a href="#"><i class="fas fa-user"></i></a></li>
                <li><a href="#"><i class="fas fa-user"></i></a></li>

            </ul>


        </div>
    </div>
    <script type="text/javascript" src="assets/js/showProfil.js"></script>
</body>

</html>